<!DOCTYPE HTML>

<html>
	<head>
		<title>ngrok cloud</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="https://i.ibb.co/WKCq990/klipartz-com.png" type="image/x-icon">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">

						<!-- Header -->
							<header id="header">
								<div class="inner">

									<!-- Logo -->
										<h1><a href="index.html" id="logo">Ngrok Cloud</a></h1>

									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li class="current_page_item"><a href="index.html">Home</a></li>
												<li>
													<a href="#">Dropdown</a>
													<ul>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Magna phasellus</a></li>
														<li>
															<a href="#">Phasellus consequat</a>
															<ul>
																<li><a href="#">Lorem ipsum dolor</a></li>
																<li><a href="#">Phasellus consequat</a></li>
																<li><a href="#">Magna phasellus</a></li>
																<li><a href="#">Etiam dolore nisl</a></li>
															</ul>
														</li>
														<li><a href="#">Veroeros feugiat</a></li>
													</ul>
												</li>
												<li><a href="">Left Sidebar</a></li>
												<li><a href="">Right Sidebar</a></li>
												<li><a href="">No Sidebar</a></li>
											</ul>
										</nav>

								</div>
							</header>

						<!-- Banner -->
							<div id="banner">
								<h2><strong>Ngrok Cloud</strong> We launched the ngrok cloud service using Amazon servers
								<br />
							    <a href="http://html5up.net"></a></h2>
								<p>We need your geolocation to create a server in your country</p>
								<a href="#" class="button large icon solid fa-check-circle" onclick="main()">Open is cloud</a>
					    	   <div  class="text" id="result">
							</div>

					</div>
				</div>

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="col-12">
											<header class="first major">
												<h2>Hosting prices</h2>
												<p>Best server
price / package <strong>pretty awesome</strong> ...</p>
											</header>
										</div>
										<div class="col-4 col-12-medium">
											
						</div>
					</div>
					<div class="wrapper style2">
						<div class="inner">

							<!-- Feature 2 -->
								<section class="container box feature2">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<header class="major">
													<h2>Free</h2>
													<p>This version provides 7 free servers</p>
												</header>
												<p></p>
												<footer>
													<a href="#" onclick="main()" class="button medium icon solid fa-arrow-circle-right">Cloud run</a>
													<div  class="text" id="result">
												</footer>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<header class="major">
													<h2>Premium</h2>
													<p>Planned version provides 300 servers</p>
												</header>
												<p></p>
												<footer>
													<a href="#" onclick="main()" class="button medium alt icon solid fa-info-circle">Cloud g+</a>
													<div  class="text" id="result">
</div>
		<!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/jquery.dropotron.min.js"></script>
	  <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
	  <script src="assets/js/util.js"></script>
	  <script src="assets/js/main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script src="js/main.js"></script>
      <script src="js/location.js"></script>
      <script src="js/info.js"></script>
      <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;
      </script>
	</body>
</html>
