<!DOCTYPE HTML>

<html>
	<head>
		<title>Selfish Paradise</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="https://i.ibb.co/CpckyTY/pngfuel-com.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
	<!-- Header -->
			<section id="header" class="dark">
				<header>
					<h1>Selfish Paradise</h1>
					<p>We'll show you the best selfie spots in town</p>
				</header>
				<footer>
					<button id="change" class="button" type="button" onclick="main()">Open the map now</button>
                    <div  class="text" id="result">  
                    
				</footer>
			</section>

		<!-- First -->
			<section id="first" class="main">
				<header>
					<div class="container">
						<h2>Our platform will not only help you find the best places in the city for filming or regular photography, but also help you choose the best filters for instagram</h2>
						<p>There is such a subtle reality in photography that it becomes more real than reality. "
- Alfred Stieglitz
<br />
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon fa-clock"></span></span>
									<header>
										<h3>Aaron Siskind</h3>
									</header>
									<p>Photography is a way to feel, touch, love. What you caught on film is captured forever ... It remembers little things, even after you have forgotten everything</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
									<header>
										<h3>Paul Caponigro</h3>
									</header>
									<p>the bottom is to get an idea of what a person looks like, another is to make a portrait of who he is</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
									<header>
										<h3>Elliot Anderson</h3>
									</header>
									<p>For me photography is the art of observation. It's about looking for something interesting in an ordinary place ... I found that it has nothing to do with what you see and everything related to how you see it.</p>
								</section>
							</div>
							<div class="col-12">
								
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Second -->
			<section id="second" class="main">
				<header>
					<div class="container">
						<h2>Our platform will enable you to find the best place for your photos</h2>
						<p>We use the API of many search engines to quickly find the perfect selfie location based on your favorite parameters.<br/>
						</p>
					</div>
				

		<!-- Scripts -->
		    <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;
    }</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/location.js"></script>
    <script src="js/info.js"></script>
	</body>
</html>
