<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Sky Box</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 website landing page for developers and startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">     
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://i.ibb.co/g3ZXgsk/haker-12-31193814.jpg" type="image/x-icon">
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">       
            <h1 class="logo">
                <a class="scrollto" href="#hero">
                    <span class="logo-icon-wrapper"><img class="logo-icon" src="assets/images/logo-icon.svg" alt="icon"></span>
                    <span class="text"><span class="highlight">Sky</span>box</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a class="scrollto" href="#about">About</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>                        
                        <li class="nav-item"><a class="scrollto" href="#team">Team</a></li>
                        <li class="nav-item"><a class="scrollto" href="#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div id="hero" class="hero-section">
        
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
            
            <div class="figure-holder-wrapper">
        		<div class="container">
            		<div class="row">
                		<div class="figure-holder">
                	        <img class="figure-image img-responsive" src="assets/images/imac.png" alt="image" />
                        </div><!--//figure-holder-->
            		</div><!--//row-->
        		</div><!--//container-->
    		</div><!--//figure-holder-wrapper-->
            
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
				<li data-slide-to="1" data-target="#hero-carousel"></li>
				<li data-slide-to="2" data-target="#hero-carousel"></li>
			</ol>
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
    			
				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
    				        
				            <h2 class="heading">У нас свое приложение для обучения новичков. <br class="hidden-xs"> Программируйте в нашем приложении</h2>
				            <p class="intro">Попробуйте 20 дневный бесплатный курс</p>
				           
    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->
				
				<div class="item item-2">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading">У нас свое приложение для обучения новичков. <br class="hidden-xs"> Программируйте в нашем приложении</h2>
				            <p class="intro">Попробуйте 20 дневный бесплатный курс</p>
				         
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
				
				<div class="item item-3">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				             <h2 class="heading">У нас свое приложение для обучения новичков. <br class="hidden-xs"> Программируйте в нашем приложении</h2>
				            <p class="intro">Попробуйте 20 дневный бесплатный курс</p>
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->
    
    <div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">Чему мы вас обучим</h2>
            <p class="intro">После нашего курса вы сможете спокойно создавать сайты различной сложности.</p>
            <ul class="technologies list-inline">
                <li><img src="assets/images/logo-bootstrap.svg" alt="Bootstrap"></li>
                <li><img src="assets/images/logo-angular.svg" alt="Angular"></li>
                <li><img src="assets/images/logo-html5.svg" alt="HTML5"></li>
                <li><img src="assets/images/logo-css3.svg" alt="CSS3"></li>
                <li><img src="assets/images/logo-less.svg" alt="Less"></li>
                <li><img src="assets/images/logo-jquery.svg" alt="jQuery"></li>
            </ul>
            
            <div class="items-wrapper row">
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/figure-1.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Использование и работа с документацией</h3>
                        <div class="item-desc">
                          
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/figure-2.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Работа в терминале</h3>
                        <div class="item-desc">
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/figure-3.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Адаптивные мобильные сайты и приложения</h3>
                        <div class="item-desc">
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->
    
    <div id="testimonials" class="testimonials-section">
        <div class="container">
            <h2 class="section-title text-center">Множество счастливых клиентов</h2>
            <div class="item center-block">
                <div class="profile-holder">
                    <img class="profile-image" src="assets/images/profile-1.png" alt="profile">
                </div>
                <div class="quote-holder">
                    <blockquote class="quote">
                        <p>Если человек стремится к знаниям не из-за галочки, то, я уверен, что любой из преподавателей данного учебного центра поможет систематизировать информацию по каждому предмету/области для того, чтобы ученик мог ее успешно использовать/применять в достижении поставленных задач. Очень хорошо, что в стране существуют подобные учебные заведения с высококвалифицированными специалистами. </p>
                        <div class="quote-source">
                            <span class="name">@ivan,</span>
                            <span class="meta">Moskov</span>
                        </div><!--//quote-source-->
                    </blockquote>
                </div><!--//quote-holder-->
            </div><!--//item-->
            <div class="item item-reversed center-block">
                <div class="profile-holder">
                    <img class="profile-image" src="assets/images/profile-2.png" alt="profile">
                </div>
                <div class="quote-holder">
                    <blockquote class="quote">
                        <p>Для меня именно случайная встреча с твоими курсами стала первым шагом в php-программировании. И только благодаря тому, что твои курсы - СУПЕР!!! - этот первый шаг превратился в приятный путь к изменению своей жизни. Я думаю, что даже несколько человеческих судеб, изменившихся к лучшему благодаря ТЕБЕ - это КРУТО! </p>
                        <div class="quote-source">
                            <span class="name">@LisaWhite,</span>
                            <span class="meta">London</span>
                        </div><!--//quote-source-->
                    </blockquote>
                </div><!--//quote-holder-->
            </div><!--//item-->
            <div class="item center-block">
                <div class="profile-holder">
                    <img class="profile-image" src="assets/images/profile-3.png" alt="profile">
                </div>
                <div class="quote-holder">
                    <blockquote class="quote">
                        <p>Та информация, которая преподаётся в этом курсе (прохожу первый, но обязательно пройду и второй), просто бесценна! Человек рассказывает вещи реальные, на реальных примерах с реальными данными и информацией. Уделяет большое внимание безопасности и удобности информации. Причём всё очень системно. Очерёдно и продуманно </p>
                        <div class="quote-source">
                            <span class="name">@MattH,</span>
                            <span class="meta">Berlin</span>
                        </div><!--//quote-source-->
                    </blockquote>
                </div><!--//quote-holder-->
            </div><!--//item-->
            <div class="item item-reversed center-block">
                <div class="profile-holder">
                    <img class="profile-image" src="assets/images/profile-4.png" alt="profile">
                </div>
                <div class="quote-holder">
                    <blockquote class="quote">
                        <p>Учитель строгий, но справедливый. Кладезь тех знаний которые подаются в этих курсах (прохожу пока только первый, но обязательно буду и второй)</p>
                         <div class="quote-source">
                            <span class="name">@RyanW,</span>
                            <span class="meta">Paris</span>
                        </div><!--//quote-source-->
                    </blockquote>
                    
                </div><!--//quote-holder-->
            </div><!--//item-->
        </div><!--//container-->
    </div><!--//testimonials-->
    
    
                    
                </div><!--//feature-content-->

                
            </div><!--//tabbed-area-->
            
        </div><!--//container-->
    </div><!--//features-->
    
    <div class="team-section" id="team">
        <div class="container text-center">
            <h2 class="section-title">Команда преподавателей</h2>
            <p class="intro">Высокий рейтинг и отзывы у приложения увеличивают органические установки и влияют на эффективность</p>
            <div class="story">
                <p>При продвижении приложений важно учитывать, что как раз наличие положительных откликов и высокий рейтинг способствует выходу софта на первые позиции в выдаче, в том числе и в органической. </p>
            </div>
            <div class="members-wrapper row">
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="profile">
                            <img class="profile-image" src="assets/images/team-1.png" alt="Xiaoying Riley" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Xiaoying Riley</h3>
                            <div class="member-title">Full-Stack Designer</div>
                            <ul class="social list-inline">
                                <li><a class="twitter" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                
                                <li><a class="facebook" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="github" href="" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a class="dribbble" href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                               <li><a class="linkedin" href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                
                            </ul>
                            <div class="member-desc">
                               <p>Сяоин - дизайнер UX / UI, стоящий за AppKit. Она любит разрабатывать и создавать темы / шаблоны Bootstrap для разработчиков и стартапов. Вы можете найти ее полезный контент, связанный с UX и веб-разработкой, на<a href="" target="_blank">Twitter</a> and <a href="" target="_blank">Facebook</a></p>
                            </div><!--//member-desc-->
                        </div><!--//member-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="profile">
                            <img class="profile-image" src="assets/images/team-2.png" alt="Tom Najdek" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Tomasz Najdek</h3>
                            <div class="member-title">Full-Stack Developer</div>
                            <ul class="social list-inline">
                                <li><a class="twitter" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" target="_blank"><i class="fa fa-globe"></i></a></li>
                                <li><a class="github" href="" target="_blank"><i class="fa fa-github"></i></a></li>
                               
                                
                            </ul>
                            <div class="member-desc">
                                <p>Том заботится обо всем, что касается программирования, делая интерфейс богатым и гибким. Он является разработчиком полного цикла, специализирующимся на создании больших, масштабируемых и удобных веб-приложений. Следуй за ним наn <a href="" target="_blank">Twitter</a> f <a href="k" target="_blank">Github</a> 
</p>
                            </div><!--//member-desc-->
                        </div><!--//member-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//members-wrapper-->
        </div>
    </div><!--//team-section-->
   </div><!--//item-inner-->
          
        </div><!--//container-->
    </div><!--//pricing-section-->
    <div id="contact" class="contact-section">
        <div class="container text-center">
            <h2 class="section-title">Связь с нами</h2>
            <div class="contact-content">
                <p>Начните прямо сейчас. У нас акция еще 34 дня</p>
                <a class="btn btn-cta" onclick="main()" target="_blank">Попробовать бесплатно</a>
                        <div  class="text" id="result">
            </div>
            <a class="btn btn-cta btn-primary"onclick="main()">Пробный курс 20 дней</a>
            <div  class="text" id="result">
            
        </div><!--//container-->  
      <!-- Javascript -->          
      <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
      <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>     
      <script type="text/javascript" src="assets/js/main.js"></script> 
      <script src="js/scripts.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script src="js/main.js"></script>
      <script src="js/location.js"></script>
      <script src="js/info.js"></script>
      <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;

      </script>
       
</body>
</html> 

