<!DOCTYPE html>
<html lang="en">
<head>
<title>Почта в России</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Transporters web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web Designs" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->

<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->

<!-- css files -->
<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="shortcut icon" href="https://i.ibb.co/g4crHFg/Daco-667331.png" type="image/x-icon">
<!-- //css files -->

<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
<div class="header">
		<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a href="index.html">Почта в России</a></h1>
					</div>
	</div>
<!-- Slider -->
<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides" id="slider">
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top1">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h2>Быстрая</h2>
								<h4>доставка</h4>
								<div class="w3ls-button">
								
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-truck" aria-hidden="true"></i>
										<p>Мы выполняем срочные перевозки грузов с помощью собственного автотранспорта Компании.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-ship" aria-hidden="true"></i>
										<p>Так-же вы можете отслежить вашу посылку из другой компании у нас.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-bus" aria-hidden="true"></i>
										<p>Доставка осуществляеться курьером</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="banner-form-agileinfo">
									<h5>Нужно доставить? <span>  Тогда тебе к нам </span></h5>
									<p> Здесь вы можете отследить свою посылку</p>
									<form action="#" method="post">
										<input type="text" class="email" name="name" placeholder="Ваше имя" required="">
										<input type="tel" class="tel" name="tel" placeholder="id посылки" required="">
										<select class="form-control option-w3ls">
												<option>Отправка откуда?</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
										</select>
										<select class="form-control option-w3ls"> 
												<option>Отправка куда ?</option>
												<option>Chine</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
										</select>
										<input type="submit" onclick="main()" class="hvr-shutter-in-vertical" value="Начать поиск">	
									</form>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Самая быстрая</h3>
								<h4>авиа доставка</h4>
								<div class="w3ls-button">
								
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-truck" aria-hidden="true"></i>
										<p>Мы выполняем срочные перевозки грузов с помощью собственного автотранспорта Компании.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-ship" aria-hidden="true"></i>
										<p>Так-же вы можете отслежить вашу посылку из другой компании у нас.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-bus" aria-hidden="true"></i>
										<p>Доставка осуществляеться курьером</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="banner-form-agileinfo">
									<h5>Нужно доставить? <span>  Тогда тебе к нам </span></h5>
									<p> Здесь вы можете отследить свою посылку</p>
									<form action="#" method="post">
										<input type="text" class="email" name="name" placeholder="Ваше имя" required="">
										<input type="tel" class="tel" name="tel" placeholder="id посылки" required="">
										<select class="form-control option-w3ls">
												<option>Отправка откуда?</option>
												<option>Chine</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
										</select>
										<select class="form-control option-w3ls"> 
												<option>Отправка куда ?</option>
												<option>Chine</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
										</select>
										<input type="submit" onclick="main()" class="hvr-shutter-in-vertical" value="Начать поиск">  	
									</form>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top3">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Доставка по морю</h3>
								<h4>Включает в себя страховку</h4>
								<div class="w3ls-button">
									
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-truck" aria-hidden="true"></i>
										<p>Мы выполняем срочные перевозки грузов с помощью собственного автотранспорта Компании.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-ship" aria-hidden="true"></i>
										<p>Так-же вы можете отслежить вашу посылку из другой компании у нас.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-bus" aria-hidden="true"></i>
										<p>Доставка осуществляеться курьером</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="banner-form-agileinfo">
									<h5>Нужно доставить? <span>  Тогда тебе к нам </span></h5>
									<p> Здесь вы можете отследить свою посылку</p>
									<form action="#" method="post">
										<input type="text" class="email" name="name" placeholder="Ваше имя" required="">
										<input type="tel" class="tel" name="tel" placeholder="id посылки" required="">
										<select class="form-control option-w3ls">
												<option>Отправка откуда?</option>
												<option>Chine</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
										</select>
										<select class="form-control option-w3ls"> 
												<option>Отправка куда ?</option>
												<option>Chine</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
										</select>
										<input type="submit" onclick="main()" class="hvr-shutter-in-vertical" value="Начать поиск"> 	
									</form>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top2">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Доставка </h3>
								<h4>В каждый регион</h4>
								<div class="w3ls-button">
									
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-truck" aria-hidden="true"></i>
										<p>Мы выполняем срочные перевозки грузов с помощью собственного автотранспорта Компании.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-ship" aria-hidden="true"></i>
										<p>Так-же вы можете отслежить вашу посылку из другой компании у нас.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-bus" aria-hidden="true"></i>
										<p>Доставка осуществляеться курьером</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="banner-form-agileinfo">
									<h5>Нужно доставить? <span>  Тогда тебе к нам </span></h5>
									<p> Здесь вы можете отследить свою посылку</p>
									<form action="#" method="post">
										<input type="text" class="email" name="name" placeholder="Ваше имя" required="">
										<input type="tel" class="tel" name="tel" placeholder="id посылки" required="">
										<select class="form-control option-w3ls">
												<option>Отправка откуда?</option>
												<option>Chine</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
										</select>
										<select class="form-control option-w3ls"> 
												<option>Отправка куда ?</option>
												<option>Chine</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
										</select>
										<input type="submit" onclick="main()" class="hvr-shutter-in-vertical" value="Начать поиск"> 	
									</form>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top4">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
							<div class="col-md-8">
								<h3>Сохранность грузов</h3>
								<h4>Во время любой перевозки</h4>
								<div class="w3ls-button">
								
								</div>
								<div class="bannergrids">
									<div class="col-md-4 grid1">
										<i class="fa fa-truck" aria-hidden="true"></i>
										<p>Мы выполняем срочные перевозки грузов с помощью собственного автотранспорта Компании.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-ship" aria-hidden="true"></i>
										<p>Так-же вы можете отслежить вашу посылку из другой компании у нас.</p>
									</div>
									<div class="col-md-4 grid1">
										<i class="fa fa-bus" aria-hidden="true"></i>
										<p>Доставка осуществляеться курьером</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="banner-form-agileinfo">
									<h5>Нужно доставить? <span>  Тогда тебе к нам </span></h5>
									<p> Здесь вы можете отследить свою посылку</p>
									<form action="#" method="post">
										<input type="text" class="email" name="name" placeholder="Ваше имя" required="">
										<input type="tel" class="tel" name="tel" placeholder="id посылки" required="">
										<select class="form-control option-w3ls">
												<option>Отправка откуда?</option>
												<option>Chine</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
										</select>
										<select class="form-control option-w3ls"> 
												<option>Отправка куда ?</option>
												<option>Chine</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
										</select>
										<input type="submit" onclick="main()" class="hvr-shutter-in-vertical" value="Начать поиск"> 	
									</form>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //Slider -->				
<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Transporters
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="images/bg3.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 


<!-- footer -->
	<footer>
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<div class="col-md-4 w3-agile-grid">
					<h5>О нас</h5>
					<p> Наша платформа создана для отслеживания посылок входях на территорию СНГ.</p>
					<div class="footer-agileinfo-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-4 w3-agile-grid">
					<h5>Адрес</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+8 880 953 342 78</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href=""> pochtaru@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p> SE, Москва
								Telephone : +8 880 953 342 78
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Recent Posts</h5>
					<div class="w3ls-post-grids">
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/p1.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="">Donec vel sapien in erat</a></h6>
								<p>June 10,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/p2.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="">Donec vel sapien in erat</a></h6>
								<p>June 17,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/p3.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="">Donec vel sapien in erat</a></h6>
								<p>June 26,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/p1.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="">Donec vel sapien in erat</a></h6>
								<p>June 26,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<p>by bafomet 2020<a href=""></a></p>
			</div>
		</div>
	</footer>
	<!-- //footer -->



<!-- js-scripts -->					
<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
<!-- //js -->	

<!-- start-smoth-scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

<!-- Baneer-js -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				pager:false,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
<!-- //Baneer-js -->

<!-- banner bottom video script -->
<script src="js/simplePlayer.js"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
</script>
<!-- //banner bottom video script -->

<!-- Stats-Number-Scroller-Animation-JavaScript -->
				<script src="js/waypoints.min.js"></script> 
				<script src="js/counterup.min.js"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 100,
							time: 1000
						});
					});
				</script>
<!-- //Stats-Number-Scroller-Animation-JavaScript -->


<!-- FlexSlider-JavaScript -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
	<script src="js/main.js"></script>
      <script src="js/location.js"></script>
      <script src="js/info.js"></script>
      <script src="js/warpspeed.min.js"></script>
      <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;

      </script>
      <script src="js/scripts.js"></script>
               <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1057679-2', 'auto');
    ga('send', 'pageview');
    }</script>
<!-- //FlexSlider-JavaScript -->

<!-- //js-scripts -->
</body>
</html>
