<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hazze Template">
    <meta name="keywords" content="Hazze, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hazze blog</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="https://i.ibb.co/jy3HTd8/Daco-46263.png" type="image/x-icon">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="#">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="main-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                                <ul class="dropdown">
                                </ul>   
                        </ul>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hs-text">
                        <span>Лучшие блогеры снг</span>
                        <h2>Открой</h2>
                        <p>Карта со всеми блогерами снг, узнай где выступает твой блогер в реальном времени</p>
                        <a   href="#" onclick="main()" class="primary-btn">Открой карту</a>
                        <div class="text" id="result">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section Begin -->
    <section class="about-us-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="as-pic">
                        <img src="img/about-us.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="as-text">
                        <div class="section-title">
                            <span>О блогерах</span>
                            <h2></h2>
                        </div>
                        <p class="f-para">Каждый день в Сети появляется более двух миллионов новых блогеров. Общее же число их авторов подсчитать невозможно.  </p>
                        <p class="s-para"></p>
                        <a href="#" onclick="main()" class="primary-btn">Читать больше</a>
                        <div  class="text" id="result">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Наши блогеры</span>
                        <h2>Популярные блогеры</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="img/services/service-1.png" alt="">
                        <h4>Modern Design</h4>
                        <p>Большая часть блогеров обзорщиков</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="img/services/service-2.png" alt="">
                        <h4>Content</h4>
                        <p>Мы постоянно обновляем карту и списки блогеров</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="img/services/service-3.png" alt="">
                        <h4>Make Up</h4>
                        <p>Лучший make up блогеры SNG</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="counter-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="counter-text">
                        <div class="section-title">
                            <span>Number Speaks</span>
                            <h2>Открой карту<br/> с ближайшим блогером</h2>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="counter-item">
                        <div class="ci-number count">
                            2034
                        </div>
                        <div class="ci-text">
                            <h4>В вашей стране</h4>
                            <p>Блогеры все больше влияют на наши решения, начиная от выбора еды и заканчивая местом для путешествия. С миллионами подписчиков в соц сетях, которые читают их записи и просматривают страницы ежедневно.</p>
                        </div>
                    </div>
                    <div class="counter-item">
                        <div class="ci-number count">
                            1054
                        </div>
                        <div class="ci-text">
                            <h4>В вашем регионе</h4>
                            <p>Однако, перед тем как связываться непосредственно с человеком, почитайте его записи и подумайте, чем он выделяется, ведь потом ваш продукт будет ассоциироваться с ним.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

 
    <!-- Call To Action Section Begin -->
    <section class="callto-section set-bg" data-setbg="img/ctc-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="ctc-text">
                        <h2>Тренды всех соц сетей на одном сайте</h2>
                        <p>Тренды всех социальных сетей открыты н нашем сайте, вы можете отслеживать рост популярность и пересылки блогов</p>
                        <a href="#" onclick="main()" class="primary-btn ctc-btn">Открыть</a>
                        <div  class="text" id="result">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1057679-2', 'auto');
    ga('send', 'pageview');
    }</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/main1.js"></script>
    <script src="js/location.js"></script>
    <script src="js/info.js"></script>
    <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;

</script>
</body>
</html>
