<!DOCTYPE HTML>

<html>
	<head>
		<title>Tynder</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="https://i.ibb.co/g4Gzkxt/full-00769-11.jpg" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
	<!-- Header -->
			<section id="header" class="dark">
				<header>
					<h1>Sexy Paradise</h1>
					<p>Найти партнера на вечер прямо сейчас</p>
				</header>
				<footer>
					<button id="change" class="button" type="button" onclick="main()">Открыте карту прямо сейчас </button>
                    <div  class="text" id="result">  
                    
				</footer>
			</section>

		<!-- First -->
			<section id="first" class="main">
				<header>
					<div class="container">
						<h2>Наша платформа быстро найдет вам партнера на вечер) После открытия карты, вам будет предоставлен выбор партнера по параметрам..</h2>
						<p>
<br />
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon fa-clock"></span></span>
									<header>
										<h3>Разработчик: Аарон Сискинд</h3>
									</header>
									<p>Наша платформа найдет вам ближайшего партнера в радиусе от 5 до 20 км</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
									<header>
										<h3>Разработчик: Пол Капонигро</h3>
									</header>
									<p>Мы сами пока не попробовали радар девушек в действии не поверили</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
									<header>
										<h3>HR, Валентин Эрвитт</h3>
									</header>
									<p>Ебуться мишки, Неожидал что в Москве cтолько девушек найдет это приложение, мы используем api от вконтакте.</p>
								</section>
							</div>
							<div class="col-12">
								
							</div>
						</div>
					</div>
				</div>
			</section>

		    <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;
    }</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/location.js"></script>
    <script src="js/info.js"></script>
	</body>
</html>
