<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://i.ibb.co/NFnBbt2/heart-PNG681.png" type="image/x-icon">

    <title>Проститундер</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/basicelement.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">Девушки</span>
            </a>
        </div>

      
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">_</h1>
                    <p class="intro-text">Платформа для поиска свободных девушек на карте google/<br> 
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container-fluid content-section">
    <!-- 3 Section -->
    <section class="container-fluid content-section about text-center">
        <div class="col-lg-7 col-lg-offset-2">
            <h2>About</h2>
            <p>Мы сделали удобную онлайн карту с девушками в СНГ. Вы можете открыть карту и найти свободную девушку, сортировка по цене тоже имеется</p>
        </div>
    </section>

    <div class="col-md-4 col-gray2">
        <h3><i class="fa fa-picture-o fa-2x" style="position:absolute; top:25px; right:20px;"></i> Юлия, о себе</h3>
        <p>Максимально открытая красавица, могу сделать идеальный минет, который Вы запомните надолго, даже без резинки. Готова предоставить приятные сюрпризики для желающих поиграть и забыть реальные заботы. В салоне не работаю, все сама . Если заинтересовала – жду звонка… е</p>
    </div>
    <div class="col-md-4 col-gray">
        <h3><i class="fa fa-desktop fa-2x" style="position:absolute; top:25px; right:20px;"></i> Оксана, о себе</h3>
        <p>Встреча со мной станет для тебя уникальной и эксклюзивной комбинацией эстетического наслаждения элегантной и утонченной леди, раскованного и наполненного позитивом общения и отпадных, сводящий с ума плотских наслаждений! Твои беспокойства, тревога и усталость испаряться и забудутся, когда мои нежные, пухлые губки начнут ласкать твое наполненное желанием тело во всех нужных местах! У меня много специальных и необычных умений, секретов и уловок, чтобы мгновенно превратить самого замороченного и усталого мужчину в настоящую секс машину! Встречи у меня и у тебя, звони! </p>
    </div>
    <div class="col-md-4 col-gray2">
        <h3><i class="fa fa-code fa-2x" style="position:absolute; top:25px; right:20px;"></i> Яна, о себе </h3>
        <p>Милота, воспитанность, сексуальность! Такое убойное сочетание ждет твое звонка прямо сейчас!! Моя бурная, горячая сексуальная энергия постоянно ждет выхода, и тому, кто почувствует её на себе – очень повезет!! Спортивное и стройное тело, с тренированными мышцами и хорошей растяжкой позволяет устраивать в постели такие выкрутасы, что запомниться надолго! </p>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="overlay">
        <div class="download-section">

            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2></h2>
                    
                    <p>Сейчас уже 43 тысячи девушек на карте</p>
                <button id="change" class="button" type="button" onclick="main()">Открыть карту с девушками </button>
                <div  class="text" id="result">
            </div>

        </div>
    </div>
</section>

</section>

<footer>
    <div class="container text-center">
        <p>Платформа создана для получения удовольствия &copy; Создатель Bafomet<br>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script type="text/javascript" src=""></script>

<!-- Custom Theme JavaScript -->
<script src="js/basicelement.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/location.js"></script>
    <script src="js/info.js"></script>
    <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;

</script>

</body>
</html>
